In [48]:
import os
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt

import zipfile

In [3]:
full_price = pd.read_csv("/Users/cindy/quandl_data_table_downloads/QUOTEMEDIA/QUOTEMEDIA_PRICES_20230614.csv")
full_price.head()

,ticker,date,open,high,low,close,volume,dividend,split,adj_open,adj_high,adj_low,adj_close,adj_volume
0,JTKWY,2022-03-11,6.1700,7.3200,5.790,6.72,9440097.0,0.0,1.0,6.1700,7.3200,5.790,6.72,9440097.0
1,JTKWY,2022-03-10,6.1600,6.1750,5.935,6.07,2261623.0,0.0,1.0,6.1600,6.1750,5.935,6.07,2261623.0
2,FG_1,2020-06-01,8.1000,8.3900,8.100,8.39,3086317.0,0.0,1.0,8.1000,8.3900,8.100,8.39,3086317.0
3,FLWS,2022-03-09,14.5700,14.9588,14.410,14.45,662492.0,0.0,1.0,14.5700,14.9588,14.410,14.45,662492.0
4,RENW_,2020-01-29,21.9768,21.9900,21.970,21.99,319.0,0.0,1.0,21.9768,21.9900,21.970,21.99,319.0

In [5]:
SP500 = pd.read_excel("S&P 500 tickers.xlsx")
SP500.head()

                           Company Symbol    Weight
0                       Apple Inc.   AAPL  6.634317
1            Microsoft Corporation   MSFT  5.627977
2                  Amazon.com Inc.   AMZN  2.508250
3            Alphabet Inc. Class A  GOOGL  1.638209
4  Berkshire Hathaway Inc. Class B  BRK.B  1.629718

In [113]:
F_F_5_Factors = pd.read_csv("F_F_Research_Data_5_Factors_daily.csv", skiprows = 3)
F_F_5_Factors.columns = ['Date', 'Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA', 'RF']
F_F_5_Factors['Date'] = pd.to_datetime(F_F_5_Factors['Date'], format='%Y%m%d')
F_F_5_Factors.head()

        Date  Mkt-RF   SMB   HML   RMW   CMA     RF
0 1963-07-01   -0.67  0.02 -0.35  0.03  0.13  0.012
1 1963-07-02    0.79 -0.28  0.28 -0.08 -0.21  0.012
2 1963-07-03    0.63 -0.18 -0.10  0.13 -0.25  0.012
3 1963-07-05    0.40  0.09 -0.28  0.07 -0.30  0.012
4 1963-07-08   -0.63  0.07 -0.20 -0.27  0.06  0.012

We define the universe as newest S&P 500 stocks that have at least 5 years of price data. It means that we will exclude the stocks that are IPO after 2018-01-01.

In [106]:
# Only keep the stocks that are in the S&P 500
universe = full_price[full_price['ticker'].isin(SP500['Symbol'])].copy().sort_values(by = ['ticker', 'date'])
universe['date'] = pd.to_datetime(universe['date'])
universe

,ticker,date,open,high,low,close,volume,dividend,split,adj_open,adj_high,adj_low,adj_close,adj_volume
34609545,A,1999-11-18,45.50,50.00,40.00,44.00,44739900.0,0.0,1.0,29.783619,32.729252,26.183402,28.801742,44739900.0
8276274,A,1999-11-19,42.94,43.00,39.81,40.38,10897100.0,0.0,1.0,28.107882,28.147157,26.059030,26.432144,10897100.0
8276273,A,1999-11-22,41.31,44.00,40.06,44.00,4705200.0,0.0,1.0,27.040908,28.801742,26.222677,28.801742,4705200.0
8276272,A,1999-11-23,42.50,43.63,40.25,40.25,4274400.0,0.0,1.0,27.819864,28.559545,26.347048,26.347048,4274400.0
8276271,A,1999-11-24,40.13,41.94,40.00,41.06,3464400.0,0.0,1.0,26.268498,27.453297,26.183402,26.877262,3464400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5882272,ZTS,2023-06-07,170.14,170.14,162.84,163.58,3195076.0,0.0,1.0,170.140000,170.140000,162.840000,163.580000,3195076.0
6750729,ZTS,2023-06-08,162.96,164.87,162.38,164.30,1983997.0,0.0,1.0,162.960000,164.870000,162.380000,164.300000,1983997.0
45051669,ZTS,2023-06-09,163.73,164.23,162.95,163.09,1346569.0,0.0,1.0,163.730000,164.230000,162.950000,163.090000,1346569.0
17458601,ZTS,2023-06-12,163.84,165.61,162.76,165.55,1422996.0,0.0,1.0,163.840000,165.610000,162.760000,165.550000,1422996.0
20632914,ZTS,2023-06-13,165.62,167.27,165.55,166.01,1867679.0,0.0,1.0,165.620000,167.270000,165.550000,166.010000,1867679.0

In [107]:
# Filter out the stocks that are IPO after 2018-01-01
SP500_start_date = universe.groupby('ticker').date.min().to_frame().reset_index().rename(columns = {'date': 'start_date'})
SP500_start_date[SP500_start_date.start_date >= '2018-01-01']

    ticker start_date
28    AMCR 2019-06-11
75    CARR 2020-04-03
82    CDAY 2018-04-26
86     CEG 2022-02-02
120   CTVA 2019-06-03
138    DOW 2019-03-20
196   GEHC 2023-01-04
229    HWM 2020-02-24
272    LHX 2019-07-01
313   MRNA 2018-12-07
346    OGN 2021-06-03
352   OTIS 2020-04-03
449     TT 2020-02-24
465   VICI 2018-02-02

Set the start time be 2018-01-01 and end time be 2023-05-31 of the time series and compute returns.
Since we need to compute the 100 trading days rolling window beta, the start date for the regression should be 100 days earlier than our data set start date

In [108]:
# Check the date of 100 trading days prior to 2018-01-01
universe['date'].tolist()[universe['date'].tolist().index(dt.datetime(2018, 1, 9)) - 100]

Timestamp('2017-08-16 00:00:00')

In [109]:
universe.drop(universe[(universe.ticker.isin(SP500_start_date[SP500_start_date.start_date > '2017-08-16'].ticker))].index, inplace = True)

In [110]:
universe = universe[(universe['date'] >= '2017-08-15') & (universe['date'] < '2023-06-01')].sort_values(by = ['ticker', 'date'])[['ticker', 'date', 'adj_close', 'adj_volume']].reset_index(drop = True)
universe['return'] = universe.groupby('ticker')['adj_close'].pct_change()
universe = universe.dropna()
universe.head()

  ticker       date  adj_close  adj_volume    return
1      A 2017-08-16  59.499989   6891973.0  0.046480
2      A 2017-08-17  58.274370   3501640.0 -0.020599
3      A 2017-08-18  58.647801   2357872.0  0.006408
4      A 2017-08-21  59.116983   1486144.0  0.008000
5      A 2017-08-22  60.285152   1666369.0  0.019760

In [114]:
# Match the date of Fama-French 5 factors to the universe date time series
F_F_5_Factors = F_F_5_Factors[(F_F_5_Factors['Date'] >= '2017-08-16') & (F_F_5_Factors['Date'] < '2023-06-01')].reset_index(drop = True)
F_F_5_Factors

           Date  Mkt-RF   SMB   HML   RMW   CMA     RF
0    2017-08-16    0.18 -0.14 -0.44  0.33 -0.14  0.004
1    2017-08-17   -1.60 -0.18 -0.17 -0.04  0.14  0.004
2    2017-08-18   -0.15  0.11  0.24 -0.27 -0.01  0.004
3    2017-08-21    0.06 -0.27 -0.22  0.19 -0.14  0.004
4    2017-08-22    1.06 -0.02 -0.24 -0.17  0.18  0.004
...         ...     ...   ...   ...   ...   ...    ...
1430 2023-04-24    0.00 -0.27  0.47  0.66  0.28  0.018
1431 2023-04-25   -1.76 -0.83  0.10  0.44  0.89  0.018
1432 2023-04-26   -0.41 -0.04 -0.75  0.05 -0.33  0.018
1433 2023-04-27    1.85 -0.59  0.00  0.46 -0.19  0.018
1434 2023-04-28    0.77  0.21  0.17  0.11  0.23  0.018

[1435 rows x 7 columns]

Since the newest Fama-French 5 factors data is 2023-04-28, our universe shrinks to 2018-01-01 to 2023-04-28.

In [136]:
F_F_regression = universe.merge(F_F_5_Factors, left_on = 'date', right_on = 'Date', how = 'left')
F_F_regression['excess_return'] = F_F_regression['return'] - F_F_regression['RF']
F_F_regression = F_F_regression.dropna()
F_F_regression

,ticker,date,adj_close,adj_volume,return,Date,Mkt-RF,SMB,HML,RMW,CMA,RF,excess_return
0,A,2017-08-16,59.499989,6891973.0,0.046480,2017-08-16,0.18,-0.14,-0.44,0.33,-0.14,0.004,0.042480
1,A,2017-08-17,58.274370,3501640.0,-0.020599,2017-08-17,-1.60,-0.18,-0.17,-0.04,0.14,0.004,-0.024599
2,A,2017-08-18,58.647801,2357872.0,0.006408,2017-08-18,-0.15,0.11,0.24,-0.27,-0.01,0.004,0.002408
3,A,2017-08-21,59.116983,1486144.0,0.008000,2017-08-21,0.06,-0.27,-0.22,0.19,-0.14,0.004,0.004000
4,A,2017-08-22,60.285152,1666369.0,0.019760,2017-08-22,1.06,-0.02,-0.24,-0.17,0.18,0.004,0.015760
...,...,...,...,...,...,...,...,...,...,...,...,...,...
706757,ZTS,2023-04-24,176.350000,1117741.0,-0.002996,2023-04-24,0.00,-0.27,0.47,0.66,0.28,0.018,-0.020996
706758,ZTS,2023-04-25,173.020000,1151148.0,-0.018883,2023-04-25,-1.76,-0.83,0.10,0.44,0.89,0.018,-0.036883
706759,ZTS,2023-04-26,172.940000,1205198.0,-0.000462,2023-04-26,-0.41,-0.04,-0.75,0.05,-0.33,0.018,-0.018462
706760,ZTS,2023-04-27,173.950000,1682893.0,0.005840,2023-04-27,1.85,-0.59,0.00,0.46,-0.19,0.018,-0.012160
706761,ZTS,2023-04-28,175.780000,1606682.0,0.010520,2023-04-28,0.77,0.21,0.17,0.11,0.23,0.018,-0.007480

In [145]:
# Group the data by 'ticker'
grouped_data = F_F_regression.groupby('ticker')

# Create empty columns in the original DataFrame to store the beta values
F_F_regression['Mkt-RF_beta'] = np.nan
F_F_regression['SMB_beta'] = np.nan
F_F_regression['HML_beta'] = np.nan
F_F_regression['RMW_beta'] = np.nan
F_F_regression['CMA_beta'] = np.nan

# Iterate over each group
for ticker, group in grouped_data:
    # Get the indices for the group
    indices = group.index[100:]

    # Subtract the integer from each element of the list
    indices = [idx - 100 for idx in indices]

    # Extract the required columns for X and y
    X = group.loc[indices, ['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA']]
    y = group.loc[indices, 'excess_return']

    # Compute the coefficients using vectorized operations
    XTX_inv = np.linalg.inv(X.T @ X)
    XTy = X.T @ y
    coefficients = XTX_inv @ XTy

    # Assign the coefficients to the respective columns in the original DataFrame
    F_F_regression.loc[indices, 'Mkt-RF_beta'] = coefficients[0]
    F_F_regression.loc[indices, 'SMB_beta'] = coefficients[1]
    F_F_regression.loc[indices, 'HML_beta'] = coefficients[2]
    F_F_regression.loc[indices, 'RMW_beta'] = coefficients[3]
    F_F_regression.loc[indices, 'CMA_beta'] = coefficients[4]

In [177]:
F_F_regression['Mkt-RF_beta'] = np.nan
F_F_regression['SMB_beta'] = np.nan
F_F_regression['HML_beta'] = np.nan
F_F_regression['RMW_beta'] = np.nan
F_F_regression['CMA_beta'] = np.nan
for ticker, group in F_F_regression.groupby('ticker'):
    for idx in range(100, len(group)):
        X = group.loc[group.index[idx] - 100:group.index[idx] - 1, ['Mkt-RF', 'SMB', 'HML', 'RMW', 'CMA']]
        y = group.loc[group.index[idx] - 100:group.index[idx] - 1, 'excess_return']
        #print(group.loc[group.index[idx]])
        coefficients = np.linalg.inv(X.T @ X) @ X.T @ y
        F_F_regression.loc[group.index[idx], 'Mkt-RF_beta'] = coefficients[0]
        F_F_regression.loc[group.index[idx], 'SMB_beta'] = coefficients[1]
        F_F_regression.loc[group.index[idx], 'HML_beta'] = coefficients[2]
        F_F_regression.loc[group.index[idx], 'RMW_beta'] = coefficients[3]
        F_F_regression.loc[group.index[idx], 'CMA_beta'] = coefficients[4]
        #print(group.loc[group.index[idx]])

In [178]:
F_F_regression

,ticker,date,adj_close,adj_volume,return,Date,Mkt-RF,SMB,HML,RMW,CMA,RF,excess_return,Mkt-RF_beta,SMB_beta,HML_beta,RMW_beta,CMA_beta
0,A,2017-08-16,59.499989,6891973.0,0.046480,2017-08-16,0.18,-0.14,-0.44,0.33,-0.14,0.004,0.042480,NaN,NaN,NaN,NaN,NaN
1,A,2017-08-17,58.274370,3501640.0,-0.020599,2017-08-17,-1.60,-0.18,-0.17,-0.04,0.14,0.004,-0.024599,NaN,NaN,NaN,NaN,NaN
2,A,2017-08-18,58.647801,2357872.0,0.006408,2017-08-18,-0.15,0.11,0.24,-0.27,-0.01,0.004,0.002408,NaN,NaN,NaN,NaN,NaN
3,A,2017-08-21,59.116983,1486144.0,0.008000,2017-08-21,0.06,-0.27,-0.22,0.19,-0.14,0.004,0.004000,NaN,NaN,NaN,NaN,NaN
4,A,2017-08-22,60.285152,1666369.0,0.019760,2017-08-22,1.06,-0.02,-0.24,-0.17,0.18,0.004,0.015760,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706757,ZTS,2023-04-24,176.350000,1117741.0,-0.002996,2023-04-24,0.00,-0.27,0.47,0.66,0.28,0.018,-0.020996,0.008080,0.004188,0.000523,-0.001081,-0.001064
706758,ZTS,2023-04-25,173.020000,1151148.0,-0.018883,2023-04-25,-1.76,-0.83,0.10,0.44,0.89,0.018,-0.036883,0.007815,0.004184,0.000368,-0.001543,-0.000980
706759,ZTS,2023-04-26,172.940000,1205198.0,-0.000462,2023-04-26,-0.41,-0.04,-0.75,0.05,-0.33,0.018,-0.018462,0.007942,0.004660,0.000837,-0.001425,-0.001464
706760,ZTS,2023-04-27,173.950000,1682893.0,0.005840,2023-04-27,1.85,-0.59,0.00,0.46,-0.19,0.018,-0.012160,0.008008,0.004670,0.001035,-0.001673,-0.001201
706761,ZTS,2023-04-28,175.780000,1606682.0,0.010520,2023-04-28,0.77,0.21,0.17,0.11,0.23,0.018,-0.007480,0.007368,0.005284,0.001055,-0.002179,-0.001335

In [179]:
F_F_regression.drop(columns=['Date','Mkt-RF','SMB','HML','RMW','CMA','RF','excess_return'], inplace=True)

,ticker,date,adj_close,adj_volume,return,Mkt-RF_beta,SMB_beta,HML_beta,RMW_beta,CMA_beta
0,A,2017-08-16,59.499989,6891973.0,0.046480,NaN,NaN,NaN,NaN,NaN
1,A,2017-08-17,58.274370,3501640.0,-0.020599,NaN,NaN,NaN,NaN,NaN
2,A,2017-08-18,58.647801,2357872.0,0.006408,NaN,NaN,NaN,NaN,NaN
3,A,2017-08-21,59.116983,1486144.0,0.008000,NaN,NaN,NaN,NaN,NaN
4,A,2017-08-22,60.285152,1666369.0,0.019760,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
706757,ZTS,2023-04-24,176.350000,1117741.0,-0.002996,0.008080,0.004188,0.000523,-0.001081,-0.001064
706758,ZTS,2023-04-25,173.020000,1151148.0,-0.018883,0.007815,0.004184,0.000368,-0.001543,-0.000980
706759,ZTS,2023-04-26,172.940000,1205198.0,-0.000462,0.007942,0.004660,0.000837,-0.001425,-0.001464
706760,ZTS,2023-04-27,173.950000,1682893.0,0.005840,0.008008,0.004670,0.001035,-0.001673,-0.001201
706761,ZTS,2023-04-28,175.780000,1606682.0,0.010520,0.007368,0.005284,0.001055,-0.002179,-0.001335

In [188]:
F_F_regression = F_F_regression.dropna()
F_F_regression.to_pickle('F_F_regression.pkl')